# Weather data
cfgrib==0.9.8.5
eccodes==1.0.0
#h5netcdf==0.8.1
#netCDF4==1.5.5.1

# Data mangling
numpy==1.19.4
xarray==0.16.2
dask==2020.12.0
toolz==0.11.1
#h5py==3.1.0
#scipy==1.5.4
#pandas==1.1.5

# Plotting
Magics==1.5.5
#matplotlib==3.3.3
#plotly==4.14.1
#Pillow==8.0.1

# Cartography and maps
#pykml==0.2.0
#pyproj==2.6.1

# Utilities
fire==0.3.1
requests==2.25.1
PyYAML==5.3.1
#cachetools==4.2.0
#aiofiles==0.6.0

# Environment
#ipython==7.19.0
#ipython-genutils==0.2.0
