numpy==1.18.4
h5py==2.10.0
scipy==1.2.3
netCDF4==1.5.3
PyYAML==5.3.1
pandas==1.0.4
xarray==0.15.1
matplotlib==3.0.3
dask==2.7.0
toolz==0.10.0
cachetools==3.1.1
aiofiles==0.4.0
ipython==7.10.1
ipython-genutils==0.2.0
plotly==4.8.1
Pillow==7.1.0
pykml==0.2.0
h5netcdf==0.8.0
requests==2.23.0
pytest==5.4.1
pytest-cov==2.10.0
mock==0.7.2
pyproj==2.4.0
cfgrib==0.9.8.2
fire==0.3.1